<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ohaqyrf@grkgzngr.bet</string>
	<key>contactName</key>
	<string>Michael Sheets</string>
	<key>description</key>
	<string>A dynamic, functional language designed for building scalable and maintainable applications.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>06E4B9F0-06CD-4B95-822F-2CC67E3802C2</string>
			<string>CE857198-BBB1-4AF2-AA99-87740503390F</string>
			<string>------------------------------------</string>
			<string>BC8E67F4-BC03-4BED-AE09-34C7BB61F19E</string>
			<string>690E4DB8-89CB-48ED-A515-04B3DC0D0F64</string>
			<string>6A7177E2-1220-408E-84D9-48BF934A684E</string>
			<string>------------------------------------</string>
			<string>ED063C3E-E58C-4877-868F-2717EE7512CB</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>BC8E67F4-BC03-4BED-AE09-34C7BB61F19E</key>
			<dict>
				<key>items</key>
				<array>
					<string>23A6FE3D-FF3C-40ED-ABA0-716C30F65631</string>
					<string>8A6D2B29-7780-42B2-BC12-F53BBD4725DD</string>
					<string>24304A3D-9877-488F-B030-6FD021E80462</string>
					<string>107D111F-5B1A-4C1F-9797-C78327994A33</string>
					<string>9577138E-4F81-459D-BB53-55EAA733814A</string>
					<string>23403EDF-D1B5-444D-B53B-6F4BD6575D13</string>
					<string>0AE60466-9C59-4FCD-97B3-3BB40A61BFC4</string>
					<string>8478937E-E333-4CA3-8F17-52A781A89263</string>
					<string>79F7CEF9-C157-4366-AF02-4818F7DA817C</string>
					<string>A7A6CCF0-E8E8-4CB5-B379-93B24736FE02</string>
				</array>
				<key>name</key>
				<string>Conditionals</string>
			</dict>
			<key>690E4DB8-89CB-48ED-A515-04B3DC0D0F64</key>
			<dict>
				<key>items</key>
				<array>
					<string>B84C6EFA-2343-473E-84EC-78F8FBA7F54F</string>
					<string>70D885A3-B612-4B5D-842E-D94474C8C8CA</string>
				    <string>EB8EAB9A-F9A8-495F-A59F-44A95A127666</string>
				    <string>C716B59F-52CC-4FF5-A7A6-3B641BFA8BAE</string>
				    <string>AE70A3F4-DFE8-46E9-8156-BF70A5AD382D</string>
					<string>0F19FC07-C543-4E3E-BA08-6C7860E13686</string>
					<string>BA860DCC-170C-44FE-8E9A-D05034152952</string>
				    <string>E7B7CFAE-188B-4B7F-B556-BE58D5C54215</string>
					<string>6402A657-B3B1-4DB4-9C9B-708716AD0DC4</string>
					<string>1BAFD05F-558D-4B18-95BF-7399E84A8E39</string>
					<string>22297559-5C12-4EDC-913B-423C1E1740D8</string>
					<string>61BFD2AA-EDBB-44D5-B09B-C66C506D3EE0</string>
				    <string>4B3DD799-8C49-48C3-B392-38DA059BBC83</string>
				</array>
				<key>name</key>
				<string>Definitions</string>
			</dict>
			<key>6A7177E2-1220-408E-84D9-48BF934A684E</key>
			<dict>
				<key>items</key>
				<array>
					<string>C950FE7C-5277-4954-9D96-A7ACDECE9BC1</string>
					<string>A43F022B-1B16-49D8-89A8-1A2DA9F7D0DB</string>
					<string>------------------------------------</string>
					<string>79481DC6-D14E-4FFD-B4AC-1680139047B3</string>
					<string>F0413B1A-CDD9-4425-BA63-09BE5CF37CBC</string>
					<string>------------------------------------</string>
					<string>87F5A82D-F956-4708-9E4B-098B66E57DA2</string>
					<string>1BDECB09-0FBE-4DE0-B154-B87A0A7BC31F</string>
					<string>7FBF1166-6B5B-4B98-AAAD-023FA3D97D11</string>
				    <string>93A56CC9-F0E0-40ED-8029-D435D2261EC6</string>
					<string>93B56CC9-F0E0-40ED-8029-D435D2261EC6</string>
					<string>AB492DEE-2168-40EE-B2F9-B293C18C6250</string>
					<string>9A27D450-377A-498B-8A76-CF6F757EA82C</string>
					<string>0E030583-E0AC-4E7A-B795-0AB594BB66AA</string>
				</array>
				<key>name</key>
				<string>Structure</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Elixir</string>
	<key>uuid</key>
	<string>E65BAFA0-39BA-458F-8D85-ECE6BF9EDF69</string>
</dict>
</plist>
