<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Elixir</string>
	<key>ordering</key>
	<array>
		<string>BC7C8178-FD4F-4F5F-9F5A-07FDC25FE899</string>
		<string>D00C06B9-71B2-4FEB-A0E3-37237F579456</string>
		<string>313112A0-FC40-4025-97AE-3E85DC0DB08F</string>
	</array>
	<key>uuid</key>
	<string>E65BAFA0-39BA-458F-8D85-ECE6BF9EDF69</string>
</dict>
</plist>
