<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Elixir</string>
	<key>uuid</key>
	<string>E65BAFA0-39BA-458F-8D85-ECE6BF9EDF69</string>
</dict>
</plist>
